# Dependencies
**/vendor/
**/node_modules/

# Environment files
**/.env
**/.env.*
!.env.example

# Local/generated assets
**/bootstrap/cache/*
**/storage/*.key
**/public/uploads/
**/public/storage/
**/public/hot
**/public/build
